<%- include("partials/header.ejs", { title: "Lecturer"}) %>
</head>
<body>
    <h1>Aplikasi Absensi</h1>
    <p>
        <a href="/lecturer">Lecturers</a><br>
        <a href="/students">Students</a><br>
        <a href="/subject">Subjects</a><br>
    </p>
    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&mute=1" width="720" height="405" controls></iframe>
    <%- include("partials/footer.ejs")%></br>